# London Business Crime investigations

### Navigation
* [README](https://github.com/Kaori61/crime-data-analysis/blob/main/README.md)
* [Clean data](https://github.com/Kaori61/crime-data-analysis/blob/main/dataset/cleaned_data.csv)
* [Raw data](https://github.com/Kaori61/crime-data-analysis/blob/main/dataset/raw_data.csv)
* [Exploratory data analysis (EDA)](https://github.com/Kaori61/crime-data-analysis/blob/main/jupyter_notebooks/exploratory_data_analysis.ipynb)
* [Statistical analysis](https://github.com/Kaori61/crime-data-analysis/blob/main/jupyter_notebooks/statistical_analysis.ipynb)

### Import libraries and load data

In [1]:
# import necessary libraries
import pandas as pd
import numpy as np

In [2]:
# loading csv data 
df = pd.read_csv('../dataset/raw_data.csv')
df.head()

,Date,Measure,Borough,Crime Section,Crime group,Outcome,Positive Outcome,Outcome Count,Refresh Date
0,2023-06-01,Business Crime Outcomes,Barking and Dagenham,POSSESSION OF WEAPONS,POSSESSION OF WEAPONS,Investigation Complete; No Suspect Identified....,N,1.0,2025-06-05
1,2023-06-01,Business Crime Outcomes,Barking and Dagenham,THEFT,OTHER THEFT,Investigation Complete; No Suspect Identified....,N,2.0,2025-06-05
2,2023-06-01,Business Crime Outcomes,Barking and Dagenham,THEFT,SHOPLIFTING,Named Suspect Identified: Victim Supports Poli...,N,2.0,2025-06-05
3,2023-06-01,Business Crime Outcomes,Barking and Dagenham,VIOLENCE AGAINST THE PERSON,VIOLENCE WITH INJURY,Named Suspect Identified: Evidential Difficult...,N,2.0,2025-06-05
4,2023-06-01,Business Crime Outcomes,Barnet,ARSON AND CRIMINAL DAMAGE,CRIMINAL DAMAGE,Named Suspect Identified: Victim Supports Poli...,N,1.0,2025-06-05

In [3]:
# check the dataset is loaded correctly 
df.shape

(407342, 9)

# Data cleaning

### Check for Null values

In [4]:
# check for null values
df.isnull().sum()

Date                   1
Measure                1
Borough                1
Crime Section          1
Crime group            1
Outcome             1315
Positive Outcome       1
Outcome Count          1
Refresh Date           1
dtype: int64

The Outcome column contains the description of the crime outcome. Missing value in this column is likely means there is no recorded outcome yet. Therefore, null values in Outcome column will be replaced with "No outcome yet",

#### Handling missing Outcome values

In [5]:
# check rows with missing outcome values
df[df['Outcome'].isnull()]

,Date,Measure,Borough,Crime Section,Crime group,Outcome,Positive Outcome,Outcome Count,Refresh Date
136828,2024-03-22,Business Crime Outcomes,Croydon,VIOLENCE AGAINST THE PERSON,VIOLENCE WITHOUT INJURY,NaN,N,1.0,2025-06-05
137119,2024-03-23,Business Crime Outcomes,Hillingdon,MISCELLANEOUS CRIMES AGAINST SOCIETY,MISC CRIMES AGAINST SOCIETY,NaN,N,1.0,2025-06-05
137852,2024-03-17,Business Crime Outcomes,Hillingdon,MISCELLANEOUS CRIMES AGAINST SOCIETY,MISC CRIMES AGAINST SOCIETY,NaN,N,1.0,2025-06-05
144379,2024-04-12,Business Crime Outcomes,Lambeth,VIOLENCE AGAINST THE PERSON,VIOLENCE WITHOUT INJURY,NaN,N,1.0,2025-06-05
145443,2024-05-04,Business Crime Outcomes,Croydon,THEFT,OTHER THEFT,NaN,N,1.0,2025-06-05
...,...,...,...,...,...,...,...,...,...
405715,2025-05-12,Business Crime Outcomes,Hackney,PUBLIC ORDER OFFENCES,RACE OR RELIGIOUS AGG PUBLIC FEAR,NaN,N,1.0,2025-06-05
406240,2025-05-18,Business Crime Outcomes,Hackney,VIOLENCE AGAINST THE PERSON,VIOLENCE WITH INJURY,NaN,N,1.0,2025-06-05
406548,2025-05-21,Business Crime Outcomes,Southwark,PUBLIC ORDER OFFENCES,RACE OR RELIGIOUS AGG PUBLIC FEAR,NaN,N,1.0,2025-06-05
406571,2025-05-22,Business Crime Outcomes,Brent,VIOLENCE AGAINST THE PERSON,VIOLENCE WITHOUT INJURY,NaN,N,1.0,2025-06-05
407341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# replacing null values in Outcome with 'No outcome yet'
df['Outcome'] = df['Outcome'].fillna('No outcome yet')

# check null values are replaced
(df['Outcome'] == 'No outcome yet').sum()

np.int64(1315)

Missing values are replaced with 'No outocme yet'

#### Handling other null values

In [7]:
# check missing value in Date column
df[df['Date'].isnull()]

,Date,Measure,Borough,Crime Section,Crime group,Outcome,Positive Outcome,Outcome Count,Refresh Date
407341,NaN,NaN,NaN,NaN,NaN,No outcome yet,NaN,NaN,NaN

This row didn't have any values so I will delete this row.

In [8]:
# delete row 407341
df = df.drop(407341)

In [9]:
# check null value
df.isnull().sum()

Date                0
Measure             0
Borough             0
Crime Section       0
Crime group         0
Outcome             0
Positive Outcome    0
Outcome Count       0
Refresh Date        0
dtype: int64

All missing values are handled now.

### Check data type

In [10]:
df.dtypes

Date                 object
Measure              object
Borough              object
Crime Section        object
Crime group          object
Outcome              object
Positive Outcome     object
Outcome Count       float64
Refresh Date         object
dtype: object

Date and Refresh Date needs to be in date format so I will convert into date format.

In [11]:
# convert into date format
df['Date'] = pd.to_datetime(df['Date'])
df['Refresh Date'] = pd.to_datetime(df['Refresh Date'])
df.dtypes

Date                datetime64[ns]
Measure                     object
Borough                     object
Crime Section               object
Crime group                 object
Outcome                     object
Positive Outcome            object
Outcome Count              float64
Refresh Date        datetime64[ns]
dtype: object

Outcome Count should be integer not floaat so I willl convert it into interger.

In [12]:
# convert into integer
df['Outcome Count'] = df['Outcome Count'].astype(int)
df.dtypes

Date                datetime64[ns]
Measure                     object
Borough                     object
Crime Section               object
Crime group                 object
Outcome                     object
Positive Outcome            object
Outcome Count                int64
Refresh Date        datetime64[ns]
dtype: object

### Check inconsistent values

In [13]:
# check how many unique values each categorical columns have
df.select_dtypes(include='object').nunique()

Measure              1
Borough             33
Crime Section       13
Crime group         31
Outcome             31
Positive Outcome     2
dtype: int64

In [14]:
# check what uique values are in all categorical columns
for col in df.select_dtypes(include='object').columns:
    print(f"\n Unique values in '{col}':")
    print(df[col].value_counts(dropna=False))

 Unique values in 'Measure':
Measure
Business Crime Outcomes    407341
Name: count, dtype: int64

 Unique values in 'Borough':
Borough
Westminster               22041
Camden                    16393
Tower Hamlets             15960
Newham                    15604
Lambeth                   15490
Southwark                 15456
Hackney                   14705
Brent                     14336
Islington                 14258
Hillingdon                13771
Croydon                   13675
Ealing                    13491
Barnet                    12952
Wandsworth                12927
Greenwich                 12881
Lewisham                  12757
Haringey                  12437
Hounslow                  12423
Other                     12221
Enfield                   12020
Hammersmith and Fulham    11768
Redbridge                 11470
Bromley                   11358
Kensington and Chelsea    10639
Waltham Forest            10617
Havering                  10401
Barking and Dagenham       9969
Harrow                     8197
Kingston upon Thames       7967
Merton                     7872
Bexley                     7836
Sutton                     6803
Richmond upon Thames       6646
Name: count, dtype: int64

 Unique values in 'Crime Section':
Crime Section
THEFT                                   116367
VIOLENCE AGAINST THE PERSON              92457
PUBLIC ORDER OFFENCES                    41177
VEHICLE OFFENCES                         32339
ARSON AND CRIMINAL DAMAGE                31037
BURGLARY                                 29555
ROBBERY                                  24009
DRUG OFFENCES                            18748
SEXUAL OFFENCES                          10461
MISCELLANEOUS CRIMES AGAINST SOCIETY      6855
POSSESSION OF WEAPONS                     3924
FRAUD AND FORGERY                          400
NFIB FRAUD                                  12
Name: count, dtype: int64

 Unique values in 'Crime group':
Crime group
VIOLENCE WITHOUT INJURY                  56236
SHOPLIFTING                              49554
VIOLENCE WITH INJURY                     36159
OTHER THEFT                              34367
CRIMINAL DAMAGE                          28869
PUBLIC FEAR ALARM OR DISTRESS            25180
THEFT FROM THE PERSON                    22710
BURGLARY BUSINESS AND COMMUNITY          20418
THEFT FROM A VEHICLE                     16256
ROBBERY OF PERSONAL PROPERTY             14268
POSSESSION OF DRUGS                      13075
THEFT OR UNAUTH TAKING OF A MOTOR VEH    11215
RACE OR RELIGIOUS AGG PUBLIC FEAR        10691
ROBBERY OF BUSINESS PROPERTY              9741
BICYCLE THEFT                             9736
OTHER SEXUAL OFFENCES                     7887
BURGLARY - RESIDENTIAL                    7475
MISC CRIMES AGAINST SOCIETY               6855
TRAFFICKING OF DRUGS                      5673
OTHER OFFENCES PUBLIC ORDER               5234
INTERFERING WITH A MOTOR VEHICLE          4605
POSSESSION OF WEAPONS                     3924
RAPE                                      2574
ARSON                                     2168
BURGLARY IN A DWELLING                    1586
FRAUD AND FORGERY                          400
AGGRAVATED VEHICLE TAKING                  263
BURGLARY NON-DWELLING                       76
VIOLENT DISORDER                            72
HOMICIDE                                    62
NFIB                                        12
Name: count, dtype: int64

 Unique values in 'Outcome':
Outcome
Investigation Complete; No Suspect Identified. Crime Investigated As Far As Reasonably Possible-Case Closed Pending Further Investigative Opportunities Becoming Available                      191827
Named Suspect Identified: Victim Supports Police Action But Evidential Difficulties Prevent Further Action                                                                                       53417
Named Suspect Identified: Evidential Difficulties Prevent Further Action: Victim Does Not Support (Or Has Withdrawn Support From) Police Action                                                  50872
Evidential Difficulties Victim Based-Named Suspect Not Identified: Crime Confirmed But The Victim Either Declines Or Unable To Support Further Police Investigation To Identify The Offender     48003
Charged/Summonsed/Postal Requisition                                                                                                                                                             30961
Community resolution (Crime)                                                                                                                                                                     10784
Charged/Summons - alternate offence. Offender has been charged under the alternate offence rule.                                                                                                  4289
Admin (Legacy Only)                                                                                                                                                                               3056
Outcome Pending (Legacy Only)                                                                                                                                                                     2934
Further action resulting from the crime report will be undertaken by another body or agency subject to the victim (or person acting on their behalf) being made aware of the act to be taken      2405
Caution Adult                                                                                                                                                                                     1832
Penalty notice for disorder                                                                                                                                                                       1739
No outcome yet                                                                                                                                                                                    1314
Formal Action Against Offender is not in the Public Interest (Police)                                                                                                                              717
No Investigation, named suspect identified. Capable of proof, but not in public interest to investigate. Supervisor rationale documented in closing report.                                        565
Prosecution Prevented-Named Suspect Identified But Is Too Ill (Physical Or Mental Health) To Prosecute                                                                                             488
No Crime (Legacy Only)                                                                                                                                                                             420
Prosecution Time Limit Expired: Suspect Identified But Prosecution Time Limit Has Expired                                                                                                          330
Caution Youth                                                                                                                                                                                      320
Caution Adult - alternate offence. Offender has been given a simple caution under the alternate offences rule.                                                                                     308
No Further Action Police Decision                                                                                                                                                                  187
Prosecution Not In the Public Interest (CPS)                                                                                                                                                       140
Prosecution Prevented-Named Suspect Identified But Victim Or Key Witness Is Dead Or Too Ill To Give Evidence                                                                                        85
Prosecution Prevented-Named Suspect Identified But Is Below The Age Of Criminal Responsibility                                                                                                      78
Offender has died                                                                                                                                                                                   70
Not in use in the MPS/on CRIS (Legacy Only)                                                                                                                                                         63
Diversionary, educational or intervention activity, resulting from the crime report, has been undertaken and it is not in the public interest to take any further action.                           60
TIC - Taken into Consideration                                                                                                                                                                      38
Caution Youth - alternate offence. Offender is a juvenile and has been given a youth caution under the alternate offences rule.                                                                     26
CPS Decision Not to Proceed (Legacy Only)                                                                                                                                                            8
Cannabis/Khat Warning                                                                                                                                                                                5
Name: count, dtype: int64

 Unique values in 'Positive Outcome':
Positive Outcome
N    357039
Y     50302
Name: count, dtype: int64

This analysis investigates the geographical crime trend, so an unspecified location isn't useful. Therefore, I will delete 'Other' in the Borough column.

In [15]:
# keep only the rows that is not equal to 'Other'
df = df[df['Borough'] != 'Other']

# check if the value is deleted correctly
df['Borough'].value_counts()

Borough
Westminster               22041
Camden                    16393
Tower Hamlets             15960
Newham                    15604
Lambeth                   15490
Southwark                 15456
Hackney                   14705
Brent                     14336
Islington                 14258
Hillingdon                13771
Croydon                   13675
Ealing                    13491
Barnet                    12952
Wandsworth                12927
Greenwich                 12881
Lewisham                  12757
Haringey                  12437
Hounslow                  12423
Enfield                   12020
Hammersmith and Fulham    11768
Redbridge                 11470
Bromley                   11358
Kensington and Chelsea    10639
Waltham Forest            10617
Havering                  10401
Barking and Dagenham       9969
Harrow                     8197
Kingston upon Thames       7967
Merton                     7872
Bexley                     7836
Sutton                     6803
Richmond upon Thames       6646
Name: count, dtype: int64

In [16]:
# check the unique value again
df.select_dtypes(include='object').nunique()

Measure              1
Borough             32
Crime Section       13
Crime group         31
Outcome             31
Positive Outcome     2
dtype: int64

### Check for duplicate

In [17]:
df.duplicated().sum()

np.int64(0)

No duplicate found. Data cleaning process is satisfactory.

## Create new columns

I would like to make separate columns for Year, Month, Date for analysis.

In [18]:
# create new columns
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Weekday'] = df['Date'].dt.day_name()

# check for new columns
df.head()

,Date,Measure,Borough,Crime Section,Crime group,Outcome,Positive Outcome,Outcome Count,Refresh Date,Year,Month,Weekday
0,2023-06-01,Business Crime Outcomes,Barking and Dagenham,POSSESSION OF WEAPONS,POSSESSION OF WEAPONS,Investigation Complete; No Suspect Identified....,N,1,2025-06-05,2023,6,Thursday
1,2023-06-01,Business Crime Outcomes,Barking and Dagenham,THEFT,OTHER THEFT,Investigation Complete; No Suspect Identified....,N,2,2025-06-05,2023,6,Thursday
2,2023-06-01,Business Crime Outcomes,Barking and Dagenham,THEFT,SHOPLIFTING,Named Suspect Identified: Victim Supports Poli...,N,2,2025-06-05,2023,6,Thursday
3,2023-06-01,Business Crime Outcomes,Barking and Dagenham,VIOLENCE AGAINST THE PERSON,VIOLENCE WITH INJURY,Named Suspect Identified: Evidential Difficult...,N,2,2025-06-05,2023,6,Thursday
4,2023-06-01,Business Crime Outcomes,Barnet,ARSON AND CRIMINAL DAMAGE,CRIMINAL DAMAGE,Named Suspect Identified: Victim Supports Poli...,N,1,2025-06-05,2023,6,Thursday

I am creating columns for city and country so that Tableau can load borough as geographic measure and delete unneccesary column.

In [19]:
# create new columns 
df['City']= 'London'
df['Country'] = 'UK'

# drop nuneccesary column
newdf = df.drop('Refresh Date', axis='columns')
# check for new columns
newdf.head()

,Date,Measure,Borough,Crime Section,Crime group,Outcome,Positive Outcome,Outcome Count,Year,Month,Weekday,City,Country
0,2023-06-01,Business Crime Outcomes,Barking and Dagenham,POSSESSION OF WEAPONS,POSSESSION OF WEAPONS,Investigation Complete; No Suspect Identified....,N,1,2023,6,Thursday,London,UK
1,2023-06-01,Business Crime Outcomes,Barking and Dagenham,THEFT,OTHER THEFT,Investigation Complete; No Suspect Identified....,N,2,2023,6,Thursday,London,UK
2,2023-06-01,Business Crime Outcomes,Barking and Dagenham,THEFT,SHOPLIFTING,Named Suspect Identified: Victim Supports Poli...,N,2,2023,6,Thursday,London,UK
3,2023-06-01,Business Crime Outcomes,Barking and Dagenham,VIOLENCE AGAINST THE PERSON,VIOLENCE WITH INJURY,Named Suspect Identified: Evidential Difficult...,N,2,2023,6,Thursday,London,UK
4,2023-06-01,Business Crime Outcomes,Barnet,ARSON AND CRIMINAL DAMAGE,CRIMINAL DAMAGE,Named Suspect Identified: Victim Supports Poli...,N,1,2023,6,Thursday,London,UK

Reorder the column

In [20]:
# Get the list of current columns
cols = list(newdf.columns)

# Remove 'City' and Countyr from its current position
cols.remove('City')
cols.remove('Country')

# Find the index of 'Borough'
borough_index = cols.index('Borough')

# Insert 'City' and 'Country' right after 'Borough'
cols.insert(borough_index + 1, 'City')
cols.insert(borough_index + 2, 'Country')

# Reorder the DataFrame
df2 = newdf[cols]

df2.head()

,Date,Measure,Borough,City,Country,Crime Section,Crime group,Outcome,Positive Outcome,Outcome Count,Year,Month,Weekday
0,2023-06-01,Business Crime Outcomes,Barking and Dagenham,London,UK,POSSESSION OF WEAPONS,POSSESSION OF WEAPONS,Investigation Complete; No Suspect Identified....,N,1,2023,6,Thursday
1,2023-06-01,Business Crime Outcomes,Barking and Dagenham,London,UK,THEFT,OTHER THEFT,Investigation Complete; No Suspect Identified....,N,2,2023,6,Thursday
2,2023-06-01,Business Crime Outcomes,Barking and Dagenham,London,UK,THEFT,SHOPLIFTING,Named Suspect Identified: Victim Supports Poli...,N,2,2023,6,Thursday
3,2023-06-01,Business Crime Outcomes,Barking and Dagenham,London,UK,VIOLENCE AGAINST THE PERSON,VIOLENCE WITH INJURY,Named Suspect Identified: Evidential Difficult...,N,2,2023,6,Thursday
4,2023-06-01,Business Crime Outcomes,Barnet,London,UK,ARSON AND CRIMINAL DAMAGE,CRIMINAL DAMAGE,Named Suspect Identified: Victim Supports Poli...,N,1,2023,6,Thursday

### Save cleaned data as csv

In [21]:
df2.to_csv("../dataset/cleaned_data.csv", index=False)

##### The next step taken is Exporatory Data Analysis which can find from [here](https://github.com/Kaori61/crime-data-analysis/blob/main/jupyter_notebooks/exploratory_data_analysis.ipynb).
Go back to [README](https://github.com/Kaori61/crime-data-analysis/blob/main/README.md)