# London Business Crime investigations

### Navigation
* [README](https://github.com/Kaori61/crime-data-analysis/blob/main/README.md)
* [Clean data](https://github.com/Kaori61/crime-data-analysis/blob/main/dataset/data_cleaned.csv)
* [Raw data](https://github.com/Kaori61/crime-data-analysis/blob/main/dataset/raw_data.csv)
* [Exploratory data analysis (EDA)](https://github.com/Kaori61/crime-data-analysis/blob/main/jupyter_notebooks/exploratory_data_analysis.ipynb)
* [Statistical analysis](https://github.com/Kaori61/crime-data-analysis/blob/main/jupyter_notebooks/statistical_analysis.ipynb)
* [Dashboard - Business Crime Trends in London](https://public.tableau.com/views/LondonBusinessCrimeAnalysis/Dashboard1?:language=en-GB&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link)

### Import libraries and load data

In [1]:
# import necessary libraries
import pandas as pd
import numpy as np

In [ ]:
# loading csv data 
raw = pd.read_csv('../dataset/raw_data.csv')

# sample data to reduce dataset. Using 10% of the original rows.
df = raw.sample(frac=0.1, random_state=42)
df.to_csv("../dataset/sample_data.csv", index=False)
df.head()

,Date,Measure,Borough,Crime Section,Crime group,Outcome,Positive Outcome,Outcome Count,Refresh Date
248172,2024-06-10,Business Crime Outcomes,Southwark,DRUG OFFENCES,POSSESSION OF DRUGS,Charged/Summonsed/Postal Requisition,Y,1,2025-01-05
298165,2024-09-04,Business Crime Outcomes,Lewisham,PUBLIC ORDER OFFENCES,PUBLIC FEAR ALARM OR DISTRESS,Investigation Complete; No Suspect Identified....,N,1,2025-01-05
191832,2024-01-16,Business Crime Outcomes,Other,VIOLENCE AGAINST THE PERSON,VIOLENCE WITHOUT INJURY,Investigation Complete; No Suspect Identified....,N,2,2025-01-05
84441,2023-06-08,Business Crime Outcomes,Islington,THEFT,SHOPLIFTING,Investigation Complete; No Suspect Identified....,N,18,2025-01-05
386902,2024-03-17,Business Crime Outcomes,Newham,THEFT,SHOPLIFTING,Investigation Complete; No Suspect Identified....,N,3,2025-01-05

In [3]:
# check the dataset is loaded correctly 
df.shape

(41585, 9)

### Data cleaning

##### Check for Null values

In [4]:
# check for null values
df.isnull().sum()

Date                  0
Measure               0
Borough               0
Crime Section         0
Crime group           0
Outcome             145
Positive Outcome      0
Outcome Count         0
Refresh Date          0
dtype: int64

The Outcome column contains the description of the crime outcome. Missing value in this column likely means there is no recorded outcome yet. Therefore, null values in Outcome column will be replaced with "No outcome yet",

##### Handling missing Outcome values

In [5]:
# check rows with missing outcome values
df[df['Outcome'].isnull()]

,Date,Measure,Borough,Crime Section,Crime group,Outcome,Positive Outcome,Outcome Count,Refresh Date
288084,2024-08-16,Business Crime Outcomes,Kensington and Chelsea,VIOLENCE AGAINST THE PERSON,VIOLENCE WITHOUT INJURY,NaN,N,1,2025-01-05
273330,2024-08-16,Business Crime Outcomes,Wandsworth,PUBLIC ORDER OFFENCES,PUBLIC FEAR ALARM OR DISTRESS,NaN,N,1,2025-01-05
237436,2024-06-07,Business Crime Outcomes,Brent,THEFT,OTHER THEFT,NaN,N,1,2025-01-05
327298,2024-11-10,Business Crime Outcomes,Hillingdon,VIOLENCE AGAINST THE PERSON,VIOLENCE WITHOUT INJURY,NaN,N,1,2025-01-05
288820,2024-08-28,Business Crime Outcomes,Bexley,VIOLENCE AGAINST THE PERSON,VIOLENCE WITHOUT INJURY,NaN,N,1,2025-01-05
...,...,...,...,...,...,...,...,...,...
325926,2024-10-22,Business Crime Outcomes,Tower Hamlets,ARSON AND CRIMINAL DAMAGE,CRIMINAL DAMAGE,NaN,N,1,2025-01-05
293500,2024-09-18,Business Crime Outcomes,Barking and Dagenham,PUBLIC ORDER OFFENCES,PUBLIC FEAR ALARM OR DISTRESS,NaN,N,1,2025-01-05
315501,2024-10-01,Business Crime Outcomes,Tower Hamlets,PUBLIC ORDER OFFENCES,RACE OR RELIGIOUS AGG PUBLIC FEAR,NaN,N,1,2025-01-05
273416,2024-06-20,Business Crime Outcomes,Haringey,PUBLIC ORDER OFFENCES,RACE OR RELIGIOUS AGG PUBLIC FEAR,NaN,N,1,2025-01-05
399549,2024-08-08,Business Crime Outcomes,Westminster,VIOLENCE AGAINST THE PERSON,VIOLENCE WITHOUT INJURY,NaN,N,1,2025-01-05

In [6]:
# replacing null values in Outcome with 'No outcome yet'
df['Outcome'] = df['Outcome'].fillna('No outcome yet')

# check null values are replaced
(df['Outcome'] == 'No outcome yet').sum()

np.int64(145)

145 of missing values in Outcome columns are replaced with 'No outocme yet'

##### Handling other null values

In [7]:
# check missing value in Date column
df[df['Date'].isnull()]

Empty DataFrame
Columns: [Date, Measure, Borough, Crime Section, Crime group, Outcome, Positive Outcome, Outcome Count, Refresh Date]
Index: []

In [8]:
# check null value
df.isnull().sum()

Date                0
Measure             0
Borough             0
Crime Section       0
Crime group         0
Outcome             0
Positive Outcome    0
Outcome Count       0
Refresh Date        0
dtype: int64

All missing values are handled now.

### Check data type

In [9]:
df.dtypes

Date                object
Measure             object
Borough             object
Crime Section       object
Crime group         object
Outcome             object
Positive Outcome    object
Outcome Count        int64
Refresh Date        object
dtype: object

Date and Refresh Date needs to be in date format so I will convert into date format.

In [10]:
# convert into date format
df['Date'] = pd.to_datetime(df['Date'])
df['Refresh Date'] = pd.to_datetime(df['Refresh Date'])
df.dtypes

Date                datetime64[ns]
Measure                     object
Borough                     object
Crime Section               object
Crime group                 object
Outcome                     object
Positive Outcome            object
Outcome Count                int64
Refresh Date        datetime64[ns]
dtype: object

Outcome Count should be integer not float so I willl convert it into interger.

In [11]:
# convert into integer
df['Outcome Count'] = df['Outcome Count'].astype(int)
df.dtypes

Date                datetime64[ns]
Measure                     object
Borough                     object
Crime Section               object
Crime group                 object
Outcome                     object
Positive Outcome            object
Outcome Count                int64
Refresh Date        datetime64[ns]
dtype: object

### Check inconsistent categorical values

In [12]:
# check how many unique values each categorical columns have
df.select_dtypes(include='object').nunique()

Measure              1
Borough             33
Crime Section       12
Crime group         30
Outcome             31
Positive Outcome     2
dtype: int64

In [13]:
# check what uique values are in all categorical columns
for col in df.select_dtypes(include='object').columns:
    print(f"\n Unique values in '{col}':")
    print(df[col].value_counts(dropna=False))

 Unique values in 'Measure':
Measure
Business Crime Outcomes    41585
Name: count, dtype: int64

 Unique values in 'Borough':
Borough
Westminster               2323
Newham                    1668
Camden                    1636
Tower Hamlets             1569
Lambeth                   1558
Brent                     1495
Hackney                   1491
Southwark                 1482
Islington                 1429
Other                     1426
Wandsworth                1378
Hillingdon                1375
Ealing                    1374
Lewisham                  1363
Croydon                   1359
Greenwich                 1341
Haringey                  1328
Barnet                    1255
Enfield                   1215
Redbridge                 1214
Hammersmith and Fulham    1206
Hounslow                  1198
Bromley                   1171
Waltham Forest            1051
Kensington and Chelsea    1035
Havering                  1035
Barking and Dagenham      1025
Harrow                     859
Kingston upon Thames       834
Merton                     820
Bexley                     761
Sutton                     683
Richmond upon Thames       628
Name: count, dtype: int64

 Unique values in 'Crime Section':
Crime Section
THEFT                                   11763
VIOLENCE AGAINST THE PERSON              9306
PUBLIC ORDER OFFENCES                    4337
VEHICLE OFFENCES                         3215
ARSON AND CRIMINAL DAMAGE                3176
BURGLARY                                 2928
ROBBERY                                  2542
DRUG OFFENCES                            1866
SEXUAL OFFENCES                          1293
MISCELLANEOUS CRIMES AGAINST SOCIETY      729
POSSESSION OF WEAPONS                     399
FRAUD AND FORGERY                          31
Name: count, dtype: int64

 Unique values in 'Crime group':
Crime group
VIOLENCE WITHOUT INJURY                  5427
SHOPLIFTING                              4851
VIOLENCE WITH INJURY                     3870
OTHER THEFT                              3597
CRIMINAL DAMAGE                          2946
PUBLIC FEAR ALARM OR DISTRESS            2720
THEFT FROM THE PERSON                    2276
BURGLARY BUSINESS AND COMMUNITY          2160
THEFT FROM A VEHICLE                     1586
ROBBERY OF PERSONAL PROPERTY             1569
POSSESSION OF DRUGS                      1459
RACE OR RELIGIOUS AGG PUBLIC FEAR        1127
THEFT OR UNAUTH TAKING OF A MOTOR VEH    1111
BICYCLE THEFT                            1039
OTHER SEXUAL OFFENCES                     996
ROBBERY OF BUSINESS PROPERTY              973
MISC CRIMES AGAINST SOCIETY               729
BURGLARY - RESIDENTIAL                    500
INTERFERING WITH A MOTOR VEHICLE          495
OTHER OFFENCES PUBLIC ORDER               482
TRAFFICKING OF DRUGS                      407
POSSESSION OF WEAPONS                     399
RAPE                                      297
BURGLARY IN A DWELLING                    260
ARSON                                     230
FRAUD AND FORGERY                          31
AGGRAVATED VEHICLE TAKING                  23
HOMICIDE                                    9
VIOLENT DISORDER                            8
BURGLARY NON-DWELLING                       8
Name: count, dtype: int64

 Unique values in 'Outcome':
Outcome
Investigation Complete; No Suspect Identified. Crime Investigated As Far As Reasonably Possible-Case Closed Pending Further Investigative Opportunities Becoming Available                      19281
Named Suspect Identified: Victim Supports Police Action But Evidential Difficulties Prevent Further Action                                                                                       5594
Named Suspect Identified: Evidential Difficulties Prevent Further Action: Victim Does Not Support (Or Has Withdrawn Support From) Police Action                                                  5345
Evidential Difficulties Victim Based-Named Suspect Not Identified: Crime Confirmed But The Victim Either Declines Or Unable To Support Further Police Investigation To Identify The Offender     5066
Charged/Summonsed/Postal Requisition                                                                                                                                                             2737
Community resolution (Crime)                                                                                                                                                                     1186
Outcome Pending (Legacy Only)                                                                                                                                                                     536
Charged/Summons - alternate offence. Offender has been charged under the alternate offence rule.                                                                                                  395
Admin (Legacy Only)                                                                                                                                                                               288
Further action resulting from the crime report will be undertaken by another body or agency subject to the victim (or person acting on their behalf) being made aware of the act to be taken      211
Penalty notice for disorder                                                                                                                                                                       202
Caution Adult                                                                                                                                                                                     195
No outcome yet                                                                                                                                                                                    145
No Crime (Legacy Only)                                                                                                                                                                             69
Prosecution Prevented-Named Suspect Identified But Is Too Ill (Physical Or Mental Health) To Prosecute                                                                                             57
No Investigation, named suspect identified. Capable of proof, but not in public interest to investigate. Supervisor rationale documented in closing report.                                        55
Formal Action Against Offender is not in the Public Interest (Police)                                                                                                                              54
No Further Action Police Decision                                                                                                                                                                  32
Caution Youth                                                                                                                                                                                      30
Prosecution Time Limit Expired: Suspect Identified But Prosecution Time Limit Has Expired                                                                                                          29
Caution Adult - alternate offence. Offender has been given a simple caution under the alternate offences rule.                                                                                     25
Prosecution Prevented-Named Suspect Identified But Is Below The Age Of Criminal Responsibility                                                                                                     10
Prosecution Not In the Public Interest (CPS)                                                                                                                                                       10
Not in use in the MPS/on CRIS (Legacy Only)                                                                                                                                                         9
Prosecution Prevented-Named Suspect Identified But Victim Or Key Witness Is Dead Or Too Ill To Give Evidence                                                                                        9
Offender has died                                                                                                                                                                                   7
Caution Youth - alternate offence. Offender is a juvenile and has been given a youth caution under the alternate offences rule.                                                                     2
Diversionary, educational or intervention activity, resulting from the crime report, has been undertaken and it is not in the public interest to take any further action.                           2
CPS Decision Not to Proceed (Legacy Only)                                                                                                                                                           2
TIC - Taken into Consideration                                                                                                                                                                      1
Cannabis/Khat Warning                                                                                                                                                                               1
Name: count, dtype: int64

 Unique values in 'Positive Outcome':
Positive Outcome
N    36811
Y     4774
Name: count, dtype: int64

This analysis investigates the geographical crime trend, so an unspecified location isn't useful. Therefore, I will delete 'Other' in the Borough column.

In [14]:
# keep only the rows that is not equal to 'Other'
df = df[df['Borough'] != 'Other']

# check if the value is deleted correctly
df['Borough'].value_counts()

Borough
Westminster               2323
Newham                    1668
Camden                    1636
Tower Hamlets             1569
Lambeth                   1558
Brent                     1495
Hackney                   1491
Southwark                 1482
Islington                 1429
Wandsworth                1378
Hillingdon                1375
Ealing                    1374
Lewisham                  1363
Croydon                   1359
Greenwich                 1341
Haringey                  1328
Barnet                    1255
Enfield                   1215
Redbridge                 1214
Hammersmith and Fulham    1206
Hounslow                  1198
Bromley                   1171
Waltham Forest            1051
Kensington and Chelsea    1035
Havering                  1035
Barking and Dagenham      1025
Harrow                     859
Kingston upon Thames       834
Merton                     820
Bexley                     761
Sutton                     683
Richmond upon Thames       628
Name: count, dtype: int64

In [15]:
# check the unique value again
df.select_dtypes(include='object').nunique()

Measure              1
Borough             32
Crime Section       12
Crime group         30
Outcome             31
Positive Outcome     2
dtype: int64

##### Check for duplicate

In [16]:
df.duplicated().sum()

np.int64(0)

No duplicate found. Data cleaning process is satisfactory.

### Create new columns

I would like to make separate columns for Year, Month, Date for analysis.

In [17]:
# create new columns
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Weekday'] = df['Date'].dt.day_name()

# check for new columns
df.head()

,Date,Measure,Borough,Crime Section,Crime group,Outcome,Positive Outcome,Outcome Count,Refresh Date,Year,Month,Weekday
248172,2024-06-10,Business Crime Outcomes,Southwark,DRUG OFFENCES,POSSESSION OF DRUGS,Charged/Summonsed/Postal Requisition,Y,1,2025-01-05,2024,6,Monday
298165,2024-09-04,Business Crime Outcomes,Lewisham,PUBLIC ORDER OFFENCES,PUBLIC FEAR ALARM OR DISTRESS,Investigation Complete; No Suspect Identified....,N,1,2025-01-05,2024,9,Wednesday
84441,2023-06-08,Business Crime Outcomes,Islington,THEFT,SHOPLIFTING,Investigation Complete; No Suspect Identified....,N,18,2025-01-05,2023,6,Thursday
386902,2024-03-17,Business Crime Outcomes,Newham,THEFT,SHOPLIFTING,Investigation Complete; No Suspect Identified....,N,3,2025-01-05,2024,3,Sunday
259355,2024-05-25,Business Crime Outcomes,Lambeth,DRUG OFFENCES,POSSESSION OF DRUGS,Community resolution (Crime),Y,7,2025-01-05,2024,5,Saturday

Delete uneccesary columns. 

Measure refers to type of crime and this data only include one type which is business crime so I delete the column. 
Refresh Date refers to the date that was updated this dataset which isn't needed for this analysis.

In [18]:
df.drop(columns=['Measure', 'Refresh Date'], inplace=True)
df.head()

,Date,Borough,Crime Section,Crime group,Outcome,Positive Outcome,Outcome Count,Year,Month,Weekday
248172,2024-06-10,Southwark,DRUG OFFENCES,POSSESSION OF DRUGS,Charged/Summonsed/Postal Requisition,Y,1,2024,6,Monday
298165,2024-09-04,Lewisham,PUBLIC ORDER OFFENCES,PUBLIC FEAR ALARM OR DISTRESS,Investigation Complete; No Suspect Identified....,N,1,2024,9,Wednesday
84441,2023-06-08,Islington,THEFT,SHOPLIFTING,Investigation Complete; No Suspect Identified....,N,18,2023,6,Thursday
386902,2024-03-17,Newham,THEFT,SHOPLIFTING,Investigation Complete; No Suspect Identified....,N,3,2024,3,Sunday
259355,2024-05-25,Lambeth,DRUG OFFENCES,POSSESSION OF DRUGS,Community resolution (Crime),Y,7,2024,5,Saturday

### Save cleaned data as csv

In [19]:
df.to_csv("../dataset/data_cleaned.csv", index=False)

##### The next step taken is Exporatory Data Analysis which can find from [here](https://github.com/Kaori61/crime-data-analysis/blob/main/jupyter_notebooks/exploratory_data_analysis.ipynb).
Go back to [README](https://github.com/Kaori61/crime-data-analysis/blob/main/README.md) / [Statistical analysis](https://github.com/Kaori61/crime-data-analysis/blob/main/jupyter_notebooks/statistical_analysis.ipynb) / [Dashboard](https://public.tableau.com/views/LondonBusinessCrimeAnalysis/Dashboard1?:language=en-GB&:sid=&:redirect=auth&:display_count=n&:origin=viz_share_link)